---
export interface Props {
  title: string;
}
const { title } = Astro.props;

import "bootstrap/dist/css/bootstrap.css";
import { Breadcrumb } from "astro-bootstrap";

const data: AccordionDataType[] = [
  { header: "Title 1", body: "Text block 1", show: true },
  { header: "Title 2", body: "Text block 2" },
  { header: "Title 3", body: "Text block 3" },
];

import { Accordion } from "astro-bootstrap";
import type { AccordionDataType } from "astro-bootstrap";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Breadcrumb />
    <h1 class="text-3xl font-bold underline">Hello world!</h1>
    <a href="https://astro-bootstrap.github.io/">Astro Bootstrap reference</a>

    <Accordion data={data} />
    <button
      type="button"
      class="btn btn-lg btn-danger"
      data-bs-toggle="popover"
      data-bs-title="Popover title"
      data-bs-content="And here's some amazing content. It's very engaging. Right?"
      >Click to toggle popover</button
    >
    <script>
      import "bootstrap/js/dist/collapse";
      import Popover from "bootstrap/js/dist/popover";
      const popoverTriggerList = document.querySelectorAll(
        '[data-bs-toggle="popover"]'
      );
      /* eslint-disable-next-line  no-unused-vars*/ // only required if using es-lint
      const popoverList = [...popoverTriggerList].map(
        (popoverTriggerEl) => new Popover(popoverTriggerEl)
      );
    </script>
  </body>
</html>
