---
import Layout from "../layouts/general.astro";
const pageTitle = "index";
---

<Layout title={pageTitle}>
  <!-- s -->
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/node">Blog</a>
  <a href="/bootstrap/project1/vscode">Bootstrap Project</a>
  <a href="/tailwind-project">Tailwind Project</a>
</Layout>
