---
export interface Props {
  title: string;
}
const { title } = Astro.props;

import "bootstrap/dist/css/bootstrap.css";
import { Breadcrumb } from "astro-bootstrap";
---

<h1 class="text-3xl font-bold underline">Hello world!</h1>
