---
import "../../../styles/tailwind.css";
---

<h1 class="text-3xl font-bold underline">Hello world!</h1>

<!-- Navigation Bar -->
<nav
  class="bg-gradient-to-r from-sky-900 via-black to-gray-900 text-white shadow-md"
>
  <div class="max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">
    <h1 class="text-3xl font-bold">fauzan00</h1>
    <!-- <ul class="flex space-x-6">
            <li><a href="#" class="hover:text-indigo-400 transition">Home</a></li>
            <li><a href="#" class="hover:text-indigo-400 transition">About</a></li>
            <li><a href="#" class="hover:text-indigo-400 transition">Contact</a></li>
        </ul> -->
  </div>
</nav>
<link
  href="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/themes/prism-tomorrow.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/prism.js"></script>
