---
const { title } = Astro.props;

// css
import "../styles/public.css";

const name = "Astro";
const htmlString = "<p>Raw HTML content</p>";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot>
      <!-- sss -->
    </slot>
  </body>
</html>
