---
const { title, bodystyle } = Astro.props;
import "../styles/tailwind.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{title}</title>
    <!-- Link to Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Prism.js CSS for syntax highlighting -->
    <link
      href="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/themes/prism-tomorrow.css"
      rel="stylesheet"
    />
    <!-- Prism.js JavaScript for syntax highlighting -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/prism.js"></script>
  </head>
  <body class={bodystyle}>
    <!-- <body class="bg-gray-900 font-sans text-gray-800"> -->
    <slot />
  </body>
</html>
